body {
    background-color: black;
    color:white;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
}

.conteudo {
    margin:0 auto;
    width: 100%;
    max-width: 450px;
    margin-top: 50px;
    margin-bottom: 50px;
    background: #636360;
    border-radius: 25px;
    padding: 55px;

}

.caixatexto {
    display: flex;
    justify-content: space-between;
}

.caixatexto input {

    width: 350px;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #191818;
    outline: none;
    background: #444343;color: white;
}

.caixatexto button {
    width: 45px;
    border-radius: 12px;
    border: 1px;
    outline: none;
    border: 1px solid #191818;
    background: #444343;color: white;

    

}

.caixatexto button:hover {

    cursor: pointer;

}
#listadetarefa {
    padding: 0;
    margin: 0;
    list-style-type: none;
   


}

#listadetarefa li {
    color: #191818;
    padding: 20px;
    background: white;
    border-radius: 12px;
    margin-top: 30px;
    display: flex;
    justify-content:space-between;
    background: #444343;color: white;
    border: 1px solid #191818;


}
.botao2 {
    border-radius: 12px;
    border: 1px solid #191818;
   

}
.botao2:hover{
    cursor: pointer;
}